// Extend existing SCSS from account module to affect sub sections

table.o_section_and_note_list_view tr.o_data_row.o_is_line_sub_section,
div.oe_kanban_card.o_is_line_sub_section {
    font-weight: bold;
    font-style: italic;
    background-color: #EEEEEE;

    span {
        padding-left: 20px;
    }
}
table.o_section_and_note_list_view tr.o_data_row.o_is_line_sub_section {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

table.o_section_and_note_list_view tr.o_data_row {
    &.o_is_line_sub_section {
        td {
            // There is an undeterministic CSS behaviour in Chrome related to
            // the combination of the row's and its children's borders.
            border: none !important;
        }
    }
}
